<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>
<section class="about-head">
    <img src="../../../assets/imagess/11.png">
    <img src="../../../assets/imagess/13.png">
    <img src="../../../assets/imagess/14.png">
    <img src="../../../assets/imagess/15.png">
    <img src="../../../assets/imagess/16.png">
    <div class="container">
        <h2>Case Studies
        </h2>
        <ul class="list-unstyled">
            <li><a href="home-one">Home</a></li>
            <li>Case Studies
            </li>
        </ul>
    </div>
</section>




<!-- start case-study -->
<section class="case-study">
    <div class="container">
        <div class="case-study-head">
            <span>Case Studies</span>
            <h2>Have A Look Our Work Showcase</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
        </div>
        <div class="taps">
            <ul class="list-unstyled">
                <li class="active">All</li>
                <li>Design</li>
                <li>Development</li>
                <li>Cyber Security</li>
            </ul>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6">
                <div class="taps-section mb-4">
                    <div class="taps-section-img">
                        <a href="#">
                         <img src="../../../assets/imagess/c1.jpg" class="img-fluid">
                       </a>
                    </div>
                    <div class="taps-section-info">
                        <a href="#">
                         <h5>Joe’s Company Software Development Case</h5>
                        </a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a href="#" class="hov">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="taps-section mb-4">
                    <div class="taps-section-img">
                        <a href="#">
                            <img src="../../../assets/imagess/c2.jpg" class="img-fluid">
                          </a>
                    </div>
                    <div class="taps-section-info">
                        <a href="#">
                         <h5>Ride Share App UX Studies & Development Case</h5>
                        </a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a href="#" class="hov">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="taps-section mb-4">
                    <div class="taps-section-img">
                        <a href="#">
                            <img src="../../../assets/imagess/c3.jpg" class="img-fluid">
                          </a>
                    </div>
                    <div class="taps-section-info">
                        <a href="#">
                         <h5>Restaurant Management & Web Developing</h5>
                        </a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a href="#" class="hov">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="taps-section mb-4">
                    <div class="taps-section-img">
                        <a href="#">
                            <img src="../../../assets/imagess/c4.jpg" class="img-fluid">
                          </a>
                    </div>
                    <div class="taps-section-info">
                        <a href="#">
                         <h5>IT Software Company Development Case</h5>
                        </a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a href="#" class="hov">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="taps-section mb-4">
                    <div class="taps-section-img">
                        <a href="#">
                            <img src="../../../assets/imagess/c5.jpg" class="img-fluid">
                          </a>
                    </div>
                    <div class="taps-section-info">
                        <a href="#">
                         <h5>Temperature App UX Studies & Development Case</h5>
                        </a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a href="#" class="hov">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="taps-section mb-4">
                    <div class="taps-section-img">
                        <a href="#">
                            <img src="../../../assets/imagess/c6.jpg" class="img-fluid">
                          </a>
                    </div>
                    <div class="taps-section-info">
                        <a href="#">
                         <h5>Parking Management & Web Developing</h5>
                        </a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a href="#" class="hov">View Project Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end case-study -->


<app-footer></app-footer>
