<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>
<section class="about-head">
    <img src="../../../assets/images/11.png">
    <img src="../../../assets/images/13.png">
    <img src="../../../assets/images/14.png">
    <img src="../../../assets/images/15.png">
    <img src="../../../assets/images/16.png">
    <div class="container">
        <h2>About</h2>
        <ul class="list-unstyled">
            <li><a href="home-one">Home</a></li>
            <li>About</li>
        </ul>
    </div>
</section>

<!-- start avia compony -->
<section class="compony">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <span>Our Compony</span>
                <h2>Innovative It Helping Service All Over the World</h2>
                <p>It is a long established fact that a reader will be distracted by the rea dable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more or less normal distribution of letters, as opposed to using Content here,content here normal distribution looking at its.</p>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form variations passages.</p>
                <div>
                <a href="#">Know More</a>
               </div>
            </div>
            <div class="col-lg-6">
              <div>
                 <img src="../../../assets/images/company-img.jpg">
              </div>
            </div>
        </div>
    </div>
</section>
<!-- end avia compony -->


 <!-- start update -->
 <section class="update">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="update-vedio">
                    <img src="../../../assets/images/choose-img1 (1).jpg" class="img-fluid">
                    <span>
                        <a href="#"><i class="fas fa-play"></i></a>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Updated Technology</h2>
                <p>You need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with.</p>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going There are many variations of passages of Lorem Ipsum available, but the.</p>
                <div>
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end update -->

<!-- start feature -->
<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <span>feature</span>
                <h2>We Have Also Some Features That Provided by Aiva</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt consectetur, beatae quod eaque reprehenderit non ab quibusdam doloribus voluptatibus! Voluptatum aspernatur quasi id dolore doloremque quo vero</p>


                <ul class="list-unstyled">
                    <li><i class="fas fa-check-circle"></i>Freelancing Traning Course</li>
                    <li><i class="fas fa-check-circle"></i>Technological Consultation</li>
                    <li><i class="fas fa-check-circle"></i>Monthly Paid Workspace</li>
                    <li><i class="fas fa-check-circle"></i>IT Learning Institute</li>
                    <li><i class="fas fa-check-circle"></i>Digital Marketing</li>
                </ul>


                <div>
                    <a href="#">Lets Talk!</a>
                </div>
            </div>

            <div class="col-lg-6">
                <img src="../../../assets/images/feature-img.png" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- end feature -->

<app-footer></app-footer>
