<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>
<section class="about-head">
    <img src="../../../assets/images/11.png">
    <img src="../../../assets/images/13.png">
    <img src="../../../assets/images/14.png">
    <img src="../../../assets/images/15.png">
    <img src="../../../assets/images/16.png">
    <div class="container">
        <h2>Team
        </h2>
        <ul class="list-unstyled">
            <li><a href="home-one">Home</a></li>
            <li>Team
            </li>
        </ul>
    </div>
</section>

<!-- team member -->
<section class="team">
    <div class="container">
    <div class="team-head">
        <h2>People Who Are Behind The Achievements</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="team-single">
                <div class="team-img">
                    <img src="../../../assets/images/g1.jpg" class="img-fluid">
                </div>
                <div class="team-info">
                    <h6>Evana Doe</h6>
                    <span>Founder</span>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="team-single">
                <div class="team-img">
                    <img src="../../../assets/images/g3.jpg" class="img-fluid">
                </div>
                <div class="team-info">
                    <h6>Maria Doe</h6>
                    <span>Manager</span>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="team-single">
                <div class="team-img">
                    <img src="../../../assets/images/g2.jpg" class="img-fluid">
                </div>
                <div class="team-info">
                    <h6>Smith Doe</h6>
                    <span>CEO</span>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="team-single">
                <div class="team-img">
                    <img src="../../../assets/images/g5.jpg" class="img-fluid">
                </div>
                <div class="team-info">
                    <h6>Leo Doe</h6>
                    <span>Project Manager</span>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="team-single">
                <div class="team-img">
                    <img src="../../../assets/images/g4.jpg" class="img-fluid">
                </div>
                <div class="team-info">
                    <h6>Jhon Doe</h6>
                    <span>Marketing Support</span>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="team-single">
                <div class="team-img">
                    <img src="../../../assets/images/g6.jpg" class="img-fluid">
                </div>
                <div class="team-info">
                    <h6>Brian Cox</h6>
                    <span>Agent Management</span>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</div>
</section>
<!-- team member -->


<app-footer></app-footer>