<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>
<section class="about-head">
    <img src="../../../assets/images/11.png">
    <img src="../../../assets/images/13.png">
    <img src="../../../assets/images/14.png">
    <img src="../../../assets/images/15.png">
    <img src="../../../assets/images/16.png">
    <div class="container">
        <h2>Gallery
        </h2>
        <ul class="list-unstyled">
            <li><a href="home-one">Home</a></li>
            <li>Gallery
            </li>
        </ul>
    </div>
</section>


<!-- start gallery -->
<section class="gallery">
    <div class="container">
        <div class="gallery-head">
            <span>Our Gallery</span>
            <h2>Featured Gallery Have Done</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas non voluptatum aliquid autem minima ut culpa fugit fuga cumque, ullam minus sequi.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="gallery-part">
                    <img src="../../../assets/images/one.jpg" class="img-fluid">
                    <div class="gallery-hide">
                        <span>Coaching</span>
                        <a href="#">Business Growth</a>
                        <a href="#">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-part">
                    <img src="../../../assets/images/two.jpg" class="img-fluid">
                    <div class="gallery-hide">
                        <span>Coaching</span>
                        <a href="#">Business Growth</a>
                        <a href="#">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="gallery-part">
                    <img src="../../../assets/images/three.jpg" class="img-fluid">
                    <div class="gallery-hide">
                        <span>Coaching</span>
                        <a href="#">Business Growth</a>
                        <a href="#">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-part">
                    <img src="../../../assets/images/foure.jpg" class="img-fluid">
                    <div class="gallery-hide">
                        <span>Coaching</span>
                        <a href="#">Business Growth</a>
                        <a href="#">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="gallery-part">
                    <img src="../../../assets/images/five.jpg" class="img-fluid">
                    <div class="gallery-hide">
                        <span>Coaching</span>
                        <a href="#">Business Growth</a>
                        <a href="#">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end gallery -->

<app-footer></app-footer>