<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>
<section class="about-head">
    <img src="../../../assets/images/11.png">
    <img src="../../../assets/images/13.png">
    <img src="../../../assets/images/14.png">
    <img src="../../../assets/images/15.png">
    <img src="../../../assets/images/16.png">
    <div class="container">
        <h2>Pricing
        </h2>
        <ul class="list-unstyled">
            <li><a href="home-one">Home</a></li>
            <li>Pricing
            </li>
        </ul>
    </div>
</section>

<section class="pricing">
    <div class="container">
        <div class="pricing-head">
            <span>What We Offer</span>
            <h2>Our Pricing Plan For You</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ipsum suspendisse.</p>
        </div>
        <div class="pricing-section">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Monthly</a>
                    </li>
                    <li>
                        <a href="#">yearly</a>
                    </li>
                </ul>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                <div class="price-part">
                       <div class="pricing-head-part">
                         <h4>Basic</h4>
                         <p>Build A Website</p>
                       </div>
                       <span>$29<sub>/M</sub></span>
                       <ul class="list-unstyled">
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                       </ul>
                       <a href="#">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="price-part">
                       <div class="pricing-head-part">
                         <h4>Basic</h4>
                         <p>Build A Website</p>
                       </div>
                       <span>$29<sub>/M</sub></span>
                       <ul class="list-unstyled">
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                       </ul>
                       <a href="#">Get Started</a>
                       <div class="rotate">
                          Popular
                       </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mx-auto">
                    <div class="price-part">
                       <div class="pricing-head-part">
                         <h4>Basic</h4>
                         <p>Build A Website</p>
                       </div>
                       <span>$29<sub>/M</sub></span>
                       <ul class="list-unstyled">
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                           <li>10GB Storage Space</li>
                       </ul>
                       <a href="#">Get Started</a>
                    </div>
                </div>
            </div>
    
        </div>
        
    </div>
</section>

<app-footer></app-footer>
