.about-head{
    background: #051242 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
    position: relative;
    img{
        position: absolute;
    }
    img:first-child{
        top: 20px;
        left: 50px;
    }
    img:nth-child(2){
        top: 270px;
        left: 264px;
    }
    img:nth-child(3){
        top: 300px;
    }
    img:nth-child(4){
        top: 132px;
        right: 447px;
    }
    img:nth-child(5){
        top: 300px;
        right: 400px;
    }
    h2{
        color: #fff;
        font-size: 40px;
    }
    ul{
        li{
            display: inline-block;
            margin:0 20px;
            color:#7b88b7;
            a{
                text-decoration: none;
                color: #fff;
                position: relative;
                transition: all .4s ease;
               
                &:hover{
                    color: #7b88b7;
                }
            }
         
        }
        li:last-child{
            position: relative;
            &:after{
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background: #fff;
                top: 7px;
                right: 63px;
             }
        }
    }
}

// start pricing
.pricing{
    padding: 50px 0;
    .pricing-head{
        text-align: center;
        width: 80%;
        margin: auto;
        margin-bottom: 100px;
        @media(max-width:768px){
            width: 100%;
        }
        span{
            color: #1d42d9;
        }
        h2{
            font-size: 35px;
            font-weight: 700;
            color: #293a5c;
            @media(max-width: 768px){
                font-size: 27px;
            }
        }
        p{
            color: #7b88b7;
        }
    }
    .pricing-section{
        text-align: center;
        > ul{
            border: 1px solid #1d42d9;
            display: inline-block;
            text-align: center;
            border-radius: 10px;
            margin-bottom: 35px;
            li{
                display: inline-block;
                padding: 0 10px;
                font-family: Catamaran,sans-serif;
                /* color: #293a5c; */
                font-size: 20px;
                font-weight: 700;
                a{
                    color: #1d42d9;
                    text-decoration: none;
                    padding: 15px 13px;
                    display: inline-block;
                }
            }
        }
        .price-part{
            background: #fff;
            box-shadow: 0 0 20px 3px rgba(0,0,0,.05);
            border-top-left-radius: 70px;
            border-bottom-right-radius: 70px;
            padding: 40px 0;
            overflow: hidden;
            position: relative;
            .pricing-head-part{
                h4{
                    font-weight: 600;
                    color: #293a5c;
                }
                p{
                    color: #7b88b7;
                    font-weight: 600;
                    font-size: 15px;
                }
            }
            span{
                display: inline-block;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                line-height: 4.6;
                box-shadow: 0 0 20px 3px rgba(0,0,0,.05);
                font-size: 28px;
                font-weight: 700;
                sub{
                    color: #ccc;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            ul{
                margin-top: 20px;
                margin-bottom: 30px;
                li{
                    margin-bottom: 15px;
                    font-size: 15px;
                    font-weight: 600;
                    color: #7b88b7;
                    opacity: .7;
                }
            }
            a{
                text-decoration: none;
                background-color: #1d42d9;
                border: 1px solid #1d42d9;
                padding: 15px 20px;
                border-radius: 5px;
                color: #fff;
                position: relative;
                z-index: 1;
                overflow: hidden;
                display: inline-block;
                &:after,&::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 50%;
                    z-index: -1;
                    background: #051242;
                    transition: all .5s ease;
                }
                &:after{
                    top: 0;
                    left: 100%;
                }
                &:before{
                    bottom: 0;
                    right: 100%;
                }
                &:hover{
                    &:after{
                        left: 0;
                    }
                    &:before{
                        right: 0;
                    }
                }
            }
            .rotate{
                background: #ccc;
    /* padding: 20px; */
    position: absolute;
    /* width: 200px; */
    /* height: 37px; */
    /* display: inline-block; */
    line-height: 2.4;
    transform: rotate(45deg);
    top: -27px;
    right: -58px;
    padding: 40px 45px 5px;
    background: red;
    color: #fff;
            }
        }
    }
}
// end pricing