<!-- <p>top-nav works!</p>/ -->
<div class="t-nav">
 <div class="container">
    <div class="t-nav-img d-none d-lg-block">
        <img src="../../../assets/images/logo.png">
    </div>
    <div class="t-nav-info">
        <div class="t-nav-conect">
            <div class="t-conect mr-3">
              <div>
                <i class="fas fa-phone-alt"></i>
                <a href="#">+1 123 456 789</a>
              </div>
              <div>
                <i class="fas fa-envelope"></i>
                <a href="#"> hello@aiva.com</a>
              </div>
            </div>
            <div class="t-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
 </div>
</div>