.about-head{
    background: #051242 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
    position: relative;
    img{
        position: absolute;
    }
    img:first-child{
        top: 20px;
        left: 50px;
    }
    img:nth-child(2){
        top: 270px;
        left: 264px;
    }
    img:nth-child(3){
        top: 300px;
    }
    img:nth-child(4){
        top: 132px;
        right: 447px;
    }
    img:nth-child(5){
        top: 300px;
        right: 400px;
    }
    h2{
        color: #fff;
        font-size: 40px;
    }
    ul{
        li{
            display: inline-block;
            margin:0 20px;
            color:#7b88b7;
            a{
                text-decoration: none;
                color: #fff;
                position: relative;
                transition: all .4s ease;
                &:hover{
                    color: #7b88b7;
                }
            }
        }
        li:last-child{
            position: relative;
            &:after{
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background: #fff;
                top: 7px;
                right: 80px;
             }
        }
    }
}
// start avia-provide
.avia-provide{
    .provide-head{
        width: 80%;
        text-align: center;
        margin: 60px auto;
        span{
            color: #28429e;
        }
        h2{
            font-size: 37px;
            font-weight: 700;
            color: #304061;
            margin: 20px 0;
            @media(max-width: 768px){
                font-size: 28px;
                margin-bottom: 10px;
            }
        }
        p{
            color: #aaacbe;
        }
    }
    .row{
        .col-lg-4{
            .part{
                text-align: center;
                padding: 28px 20px;
                box-shadow: 0px 0px 31px #e6e2e2;
                margin-bottom: 25px;
                border-radius: 5px;
                position: relative;
                overflow: hidden;
                transition: all .5s ease;
                img,h5,p,a{
                    z-index: 10;
                    position: relative;
                }
                p{color: rgb(109, 105, 105);}
                img{
                    width: 80px;
                }
                h5{
                    margin: 15px 0;
                    font-weight: 600;
                }
                &:after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #051242;
                    top: 0;
                    left: 100%;
                    border-radius: 5px;
                    transition: all .5s ease;
                }
                &:before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: url(../../../assets/images/hover.9e5d195883f9d6b41ff1.png);
                    background-size: cover;
                    top: 0;
                    right: 100%;
                    z-index: 2;
                    transition: all .5s ease;
                }
                &:hover{
                    transform: translateY(-15px);
                    &:after{
                        left: 0;
                    }
                    &:before{
                        right: 0;
                    }
                    p,h5,a{
                        color: #fff;
                    }
                }
                a{
                    text-decoration: none;
                    font-weight: 600;
                    color: #333;
                }
            }
        }
    }
}
// end avia-provide