<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-part">
                    <div class="footer-top">
                        <img src="../../../assets/images/logo2.png">
                        <p>Lorem ipsum dolor sit amet, mattetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                    <div class="footer-form">
                        <h4>Join Newsletter</h4>
                        <form>
                            <input type="email" placeholder="Your Email">
                            <button>Subscribe</button>
                        </form>
                    </div>
                    <div class="footer-icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-facebook-f"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-part">
                    <h4>Our Service</h4>
                    <ul class="list-unstyled">
                      <li><a href="#">Visual Design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">QA & Testing</a></li>
                      <li><a href="#">IT Management</a></li>
                      <li><a href="#">Cyber Security</a></li>
                      <li><a href="#">Wireless Connection</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-part">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">Service</a></li>
                      <li><a href="#">Career</a></li>
                      <li><a href="#">Privacy & Policy</a></li>
                      <li><a href="#">Terms & Conditions</a></li>
                      <li><a href="#">Data Analysis</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-part">
                    <h4>Contact</h4>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-mobile-alt"></i><a href="#">+1 123 456 789</a></li>
                        <li><i class="fas fa-mobile-alt"></i><a href="#">+1 975 456 789</a></li>
                        <li><i class="fas fa-mobile-alt"></i><a href="#">hello@aiva.com</a></li>
                        <li><i class="fas fa-mobile-alt"></i><a href="#">support@aiva.com</a></li>
                        <li><i class="fas fa-mobile-alt"></i>28/A street, New York, USA</li>
                    </ul>
                </div>
            </div>
        </div>
     
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-nav">
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Solutions</a></li>
                    <li><a href="#">Case Study</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-copy">
                Copyright &copy; 2020 Aiva. All Rights Reserved by <span>HiBootstrap</span>
            </div>
        </div>
    </div>
</section>
