<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>
<section class="about-head">
    <img src="../../../assets/images/11.png">
    <img src="../../../assets/images/13.png">
    <img src="../../../assets/images/14.png">
    <img src="../../../assets/images/15.png">
    <img src="../../../assets/images/16.png">
    <div class="container">
        <h2>Blog
        </h2>
        <ul class="list-unstyled">
            <li><a href="home-one">Home</a></li>
            <li>Blog
            </li>
        </ul>
    </div>
</section>

<!-- start blog -->
<section class="blog">
    <div class="container">
        <div class="blog-head">
            <span>Blog Post</span>
            <h2>Our Regular Blogs</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A facilis vel consequatur tempora atque blanditiis exercitationem incidunt, alias corporis quam assumenda dicta.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="blog-post">
                   <a href="#"> <img src="../../../assets/images/1.jpg" class="img-fluid"></a>
                    <div class="blog-post-info">
                        <ul class="list-unstyled">
                            <li>10 April 2020</li>
                            <li><a href="#">By Admin</a></li>
                        </ul>
                        <a href="#"><h5>Joe’s Company Software Development Case</h5></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas in fugit minima modi perspiciatis nam aspernatur porro</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="blog-post">
                    <a href="#"><img src="../../../assets/images/5.jpg" class="img-fluid"></a>
                     <div class="blog-post-info">
                        <ul class="list-unstyled">
                            <li>10 April 2020</li>
                            <li><a href="#">By Admin</a></li>
                        </ul>
                        <a href="#"><h5>Temperature App UX Studies & Development Case</h5></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas in fugit minima modi perspiciatis nam aspernatur porro</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="blog-post">
                    <a href="#"><img src="../../../assets/images/3.jpg" class="img-fluid"></a> 
                       <div class="blog-post-info">
                        <ul class="list-unstyled">
                            <li>10 April 2020</li>
                            <li><a href="#">By Admin</a></li>
                        </ul>
                        <a href="#"><h5>IT Software Company Development Case</h5></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas in fugit minima modi perspiciatis nam aspernatur porro</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end blog -->
<app-footer></app-footer>
